html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span {
    color: blue;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    display:none;
}
/* top level menu */
div#menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0px;
}
.menu {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transition: .3s ease;
}

/* auto hide menu while playing */
.playing .menu{opacity: 0;}
.playing .menu:hover{opacity: 0.9;}

/* sub level menu */
.menu ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:100%;
    left:0;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    transition: .3s ease;
    z-index: 1;
}

li.hide {
    display: none !important;
}

/* bottom level nav */
.menu ul ul{
    top:0;
    left: 100%;
}

#menu_top li {
    padding: .7em 1em;
}

.menu ul li {
    padding: .3em 1em !important;
}

.menu li{
    white-space: nowrap;
    position: relative;
    cursor:pointer;
}

.menu li:hover{
    background: rgba(0,0,0,.1);
}

/* show sub nav on hover */
.menu li:hover > ul{
    visibility: visible;
    opacity: 1;
}
